.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  background-color: #242424;
}

.content::-webkit-scrollbar {
  display: none;
}
